@import "http://fonts.fontstorage.com/import/roboto.css";

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}
.img-overlay-wrap img { /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}
.img-overlay-wrap svg {
  position: absolute;
  /*top: 276px;*/
  top: 343px;
  /*left: 48px;*/
  left: 78px;
}
fieldset {
  /*display: block;*/
  border: none;
}
/*
300: 276, 48
360: 331, 58
*/
#ticket-url {
  width: 320px;
}
.num {
  font-family: Roboto, Helvetica, sans-serif;
  color: #f5f5f5;
  font-size: 30px;
  font-weight: bold;
}
#seat-num {
  position: absolute;
  top: 563px;
  left: 240px;
}
#row-num {
  position: absolute;
  top: 563px;
  left: 105px;
}
#test-ticket {
  position: relative;
  display: inline-block;
}
#technology {
  color: #77abdc;
  position: absolute;
  top: 240px;
  left: 190px;
  font-weight: bold;
  font-size: 19px;
  font-family: Helvetica, sans-serif;
}
#hall {
  color: #77abdc;
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  position: absolute;
  top: 261px;
  left: 222px;
}
#name {
  color: #fefefe;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 196px;
  font-size: 30px;
  font-weight: bold;
  max-width: 90%;
}
#date-time {
  position: absolute;
  top: 86px;
  left: 220px;
  font-weight: bold;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: #fefcfc;
}
#date-num {
  position: absolute;
  top: 86px;
  left: 46px;
  font-weight: bold;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  color: #fefcfc;
}
#date-day {
  position: absolute;
  top: 108px;
  left: 88px;
  font-size: 11px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #e4f0f9;
}
#date-month {
  position: absolute;
  top: 88px;
  left: 88px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #f4fdfd;
}
